In [1]:
import sys
import os
os.chdir("../")

In [2]:
import numpy as np
import pandas as pd
import data
from preprocess_utils.last_clickout_indices import find as find_last_clickout_indices
from tqdm.auto import tqdm
tqdm.pandas()
from IPython.display import display
pd.options.display.max_columns = None
pd.options.display.max_colwidth = -1

In [3]:
df = data.train_df('small')

In [4]:
df.head(30)

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices,frequence
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,3.0
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0
5,00RL8Z82B2Z1,aff3928535f48,1541037532,6,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0
6,00RL8Z82B2Z1,aff3928535f48,1541037532,7,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0
7,00RL8Z82B2Z1,aff3928535f48,1541037532,8,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0
8,00RL8Z82B2Z1,aff3928535f48,1541037542,9,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,5.0
13,00RL8Z82B2Z1,aff3928535f48,1541037543,14,clickout item,109038,AU,"Sydney, Australia",mobile,NaN,3400638|1253714|3367857|5100540|1088584|666916|54833|2922310|9711560|109038|666856|10077318|1431482|129343|6339822|6806806|1041528|109013|3909420|55088|3095758|109018|54885|1257342|2595006,95|66|501|112|95|100|101|72|82|56|56|143|70|25|71|162|73|143|188|118|77|131|143|49|165,1.0
14,00RL8Z82B2Z1,aff3928535f48,1541038469,15,search for poi,Surry Hills,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0
15,00RL8Z82B2Z1,aff3928535f48,1541038485,16,clickout item,1257342,AU,"Sydney, Australia",mobile,NaN,55109|129343|54824|2297972|109014|1257342|1031578|109018|1332971|666916|54833|54885|2237222|10077318|1166793|9132132|1474297|3909420|6622154|55091|8444418|54804|2050977|666936|55088,162|25|150|143|101|49|118|131|18|100|101|143|51|143|123|36|66|188|124|138|94|137|180|112|118,1.0
16,02HGRBA06ODU,fa3a53156ae5c,1541030832,1,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1.0
17,02HGRBA06ODU,fa3a53156ae5c,1541030843,2,interaction item image,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,2.0
19,02HGRBA06ODU,fa3a53156ae5c,1541030852,4,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1.0
20,02HGRBA06ODU,fa3a53156ae5c,1541030867,5,interaction item info,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1.0
21,02HGRBA06ODU,fa3a53156ae5c,1541030877,6,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,23.0
44,02HGRBA06ODU,fa3a53156ae5c,1541031009,29,interaction item info,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1.0
45,02HGRBA06ODU,fa3a53156ae5c,1541031024,30,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,17.0
62,02HGRBA06ODU,fa3a53156ae5c,1541031044,47,interaction item deals,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1.0
63,02HGRBA06ODU,fa3a53156ae5c,1541031064,48,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,18.0
81,02SRUT1NQYH1,3599a6f709eab,1541063730,1,interaction item image,2795374,FI,"Krakow, Poland",mobile,NaN,NaN,NaN,33.0
114,02SRUT1NQYH1,3599a6f709eab,1541063863,34,interaction item info,2795374,FI,"Krakow, Poland",mobile,NaN,NaN,NaN,1.0
115,02SRUT1NQYH1,3599a6f709eab,1541063864,35,clickout item,2795374,FI,"Krakow, Poland",mobile,NaN,2795374|5582964|1088390|2781070|1258068|1271962|3184892|148884|3528776|107183|5156744|107048|1907333|3370484|6003326|8436316|9025316|125181|3861490|131257|4415954|107162|3143352|6652864|8118684,64|54|36|121|76|81|92|40|73|52|98|104|56|414|67|111|21|122|55|104|56|64|40|29|44,1.0
116,03K8AXBL4BX2,ec139e10b9238,1541100038,1,search for destination,"London, United Kingdom",UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1.0
117,03K8AXBL4BX2,ec139e10b9238,1541100132,2,search for poi,Covent Garden,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1.0
118,03K8AXBL4BX2,ec139e10b9238,1541100193,3,search for poi,Oxford Street,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1.0
119,03K8AXBL4BX2,ec139e10b9238,1541100314,4,interaction item image,1032816,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,2.0
121,03K8AXBL4BX2,ec139e10b9238,1541100322,6,clickout item,1032816,UK,"London, United Kingdom",desktop,NaN,12693|46363|81657|18448|47687|152913|18417|927627|4147572|819616|18380|47333|18425|1255377|4043482|1032816|18388|1216900|106471|106567|12667|84082|1152188|98737|47410,104|92|100|103|102|104|72|85|81|75|107|86|98|83|98|103|105|99|106|99|98|96|96|105|99,1.0
122,03K8AXBL4BX2,ec139e10b9238,1541100652,7,clickout item,1032816,UK,"London, United Kingdom",desktop,NaN,12693|46363|81657|18448|47687|152913|18417|927627|4147572|819616|18380|47333|18425|1255377|4043482|1032816|18388|1216900|106471|106567|12667|84082|1152188|98737|47410,104|92|100|103|102|104|72|85|81|75|107|86|98|83|98|103|105|99|106|99|98|96|96|105|99,1.0
123,03P4VFKK12UO,325fafb5fa450,1541107285,1,search for destination,"Bakersfield, USA",US,"Bakersfield, USA",desktop,NaN,NaN,NaN,2.0
125,03P4VFKK12UO,325fafb5fa450,1541107336,3,filter selection,Very Good Rating,US,"Bakersfield, USA",desktop,Very Good Rating,NaN,NaN,1.0

In [5]:
# cast the impressions and the prices to lists
clickout_rows = df[df.prices.notnull()][['impressions','prices']]

clickout_rows['impressions'] = clickout_rows.impressions.str.split('|') #.apply(lambda x: list(map(int,x)))
clickout_rows['prices'] = clickout_rows.prices.str.split('|') #.apply(lambda x: list(map(int,x)))

In [6]:
clickout_rows.head()

,impressions,prices
13,"[3400638, 1253714, 3367857, 5100540, 1088584, 666916, 54833, 2922310, 9711560, 109038, 666856, 10077318, 1431482, 129343, 6339822, 6806806, 1041528, 109013, 3909420, 55088, 3095758, 109018, 54885, 1257342, 2595006]","[95, 66, 501, 112, 95, 100, 101, 72, 82, 56, 56, 143, 70, 25, 71, 162, 73, 143, 188, 118, 77, 131, 143, 49, 165]"
15,"[55109, 129343, 54824, 2297972, 109014, 1257342, 1031578, 109018, 1332971, 666916, 54833, 54885, 2237222, 10077318, 1166793, 9132132, 1474297, 3909420, 6622154, 55091, 8444418, 54804, 2050977, 666936, 55088]","[162, 25, 150, 143, 101, 49, 118, 131, 18, 100, 101, 143, 51, 143, 123, 36, 66, 188, 124, 138, 94, 137, 180, 112, 118]"
115,"[2795374, 5582964, 1088390, 2781070, 1258068, 1271962, 3184892, 148884, 3528776, 107183, 5156744, 107048, 1907333, 3370484, 6003326, 8436316, 9025316, 125181, 3861490, 131257, 4415954, 107162, 3143352, 6652864, 8118684]","[64, 54, 36, 121, 76, 81, 92, 40, 73, 52, 98, 104, 56, 414, 67, 111, 21, 122, 55, 104, 56, 64, 40, 29, 44]"
121,"[12693, 46363, 81657, 18448, 47687, 152913, 18417, 927627, 4147572, 819616, 18380, 47333, 18425, 1255377, 4043482, 1032816, 18388, 1216900, 106471, 106567, 12667, 84082, 1152188, 98737, 47410]","[104, 92, 100, 103, 102, 104, 72, 85, 81, 75, 107, 86, 98, 83, 98, 103, 105, 99, 106, 99, 98, 96, 96, 105, 99]"
122,"[12693, 46363, 81657, 18448, 47687, 152913, 18417, 927627, 4147572, 819616, 18380, 47333, 18425, 1255377, 4043482, 1032816, 18388, 1216900, 106471, 106567, 12667, 84082, 1152188, 98737, 47410]","[104, 92, 100, 103, 102, 104, 72, 85, 81, 75, 107, 86, 98, 83, 98, 103, 105, 99, 106, 99, 98, 96, 96, 105, 99]"

In [7]:
clickout_rows = pd.DataFrame({col:np.concatenate(clickout_rows[col].values) for col in clickout_rows.columns }).astype('int')

In [8]:
clickout_rows.head()

   impressions  prices
0  3400638      95
1  1253714      66
2  3367857      501
3  5100540      112
4  1088584      95

In [11]:
res_df = clickout_rows.groupby('impressions').agg(['mean','std']).reset_index()
res_df.columns = ['_'.join(x) for x in res_df.columns.ravel()]
res_df = res_df.rename(columns={'impressions_': 'item_id'})
res_df['prices_std'] = res_df['prices_std'].fillna(0)
res_df

        reference  prices_mean  prices_std
0       5001       87.818182    5.963525
1       5002       94.416667    14.506790
2       5003       106.230769   0.832050
3       5004       146.181818   15.012116
4       5005       160.000000   0.000000
5       5006       220.000000   0.000000
6       5009       220.000000   0.000000
7       5011       104.000000   0.000000
8       5013       135.000000   0.000000
9       5014       215.315789   218.159232
10      5015       155.720000   131.259768
11      5016       151.166667   2.857738
12      5017       168.695652   149.767527
13      5020       140.812500   18.454336
14      5021       216.857143   26.645413
15      5022       150.666667   36.291807
16      5023       154.333333   16.855125
17      5027       254.909091   92.668716
18      5028       127.500000   13.435029
19      5029       219.642857   30.073262
20      5033       133.000000   0.000000
21      5034       110.000000   0.000000
22      5035       146.666667   22.678918
23      5036       191.461538   50.906148
24      5037       90.222222    7.644897
25      5040       112.000000   25.588083
26      5041       104.928571   41.031816
27      5042       95.125000    12.052712
28      5043       118.071429   9.547165
29      5045       117.000000   20.784610
...      ...              ...         ...
292209  11256394   38.000000    0.000000
292210  11257108   109.000000   0.000000
292211  11257250   70.000000    0.000000
292212  11257576   528.000000   295.480964
292213  11257598   40.000000    0.000000
292214  11257922   208.000000   0.000000
292215  11257928   82.000000    0.000000
292216  11259336   83.000000    0.000000
292217  11259402   581.000000   0.000000
292218  11259504   14.000000    0.000000
292219  11259944   13.000000    0.000000
292220  11260166   126.000000   0.000000
292221  11261432   1303.000000  0.000000
292222  11263332   55.000000    0.000000
292223  11263724   32.000000    0.000000
292224  11264984   18.000000    0.000000
292225  11265060   127.000000   0.000000
292226  11265326   124.000000   0.000000
292227  11265454   43.000000    0.000000
292228  11265662   550.000000   0.000000
292229  11266190   351.000000   0.000000
292230  11266460   18.000000    0.000000
292231  11266594   165.000000   0.000000
292232  11267426   550.000000   0.000000
292233  11267482   45.000000    0.000000
292234  11267574   125.000000   0.000000
292235  11268206   273.000000   0.000000
292236  11268332   220.285714   41.209684
292237  11268592   105.000000   0.000000
292238  11269040   42.000000    0.000000

[292239 rows x 3 columns]

In [4]:
from extract_features.rnn.impressions_average_price import 
f =

In [21]:
clickout_rows.dtypes

impressions    int64
prices         int64
dtype: object

In [33]:
res_df = clickout_rows.groupby('impressions').agg(['mean','count','std',list]).reset_index()

In [5]:
f.join_to(df, one_hot=True)

/Users/federico/miniconda3/envs/recsys/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

reference_price_position_in_last_clickout feature read
reference_price_position_in_last_clickout onehot completed

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices,frequence,price_pos_0,price_pos_1,price_pos_2,price_pos_3,price_pos_4,price_pos_5,price_pos_6,price_pos_7,price_pos_8,price_pos_9,price_pos_10,price_pos_11,price_pos_12,price_pos_13,price_pos_14,price_pos_15,price_pos_16,price_pos_17,price_pos_18,price_pos_19,price_pos_20,price_pos_21,price_pos_22,price_pos_23,price_pos_24
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,00RL8Z82B2Z1,aff3928535f48,1541037532,6,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,00RL8Z82B2Z1,aff3928535f48,1541037532,7,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,00RL8Z82B2Z1,aff3928535f48,1541037532,8,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,00RL8Z82B2Z1,aff3928535f48,1541037542,9,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,5.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,00RL8Z82B2Z1,aff3928535f48,1541037543,14,clickout item,109038,AU,"Sydney, Australia",mobile,NaN,3400638|1253714|3367857|5100540|1088584|666916|54833|2922310|9711560|109038|666856|10077318|1431482|129343|6339822|6806806|1041528|109013|3909420|55088|3095758|109018|54885|1257342|2595006,95|66|501|112|95|100|101|72|82|56|56|143|70|25|71|162|73|143|188|118|77|131|143|49|165,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,00RL8Z82B2Z1,aff3928535f48,1541038469,15,search for poi,Surry Hills,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,00RL8Z82B2Z1,aff3928535f48,1541038485,16,clickout item,1257342,AU,"Sydney, Australia",mobile,NaN,55109|129343|54824|2297972|109014|1257342|1031578|109018|1332971|666916|54833|54885|2237222|10077318|1166793|9132132|1474297|3909420|6622154|55091|8444418|54804|2050977|666936|55088,162|25|150|143|101|49|118|131|18|100|101|143|51|143|123|36|66|188|124|138|94|137|180|112|118,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,02HGRBA06ODU,fa3a53156ae5c,1541030832,1,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
17,02HGRBA06ODU,fa3a53156ae5c,1541030843,2,interaction item image,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19,02HGRBA06ODU,fa3a53156ae5c,1541030852,4,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,02HGRBA06ODU,fa3a53156ae5c,1541030867,5,interaction item info,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,02HGRBA06ODU,fa3a53156ae5c,1541030877,6,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,23.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
44,02HGRBA06ODU,fa3a53156ae5c,1541031009,29,interaction item info,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45,02HGRBA06ODU,fa3a53156ae5c,1541031024,30,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,17.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
62,02HGRBA06ODU,fa3a53156ae5c,1541031044,47,interaction item deals,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
63,02HGRBA06ODU,fa3a53156ae5c,1541031064,48,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,18.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
81,02SRUT1NQYH1,3599a6f709eab,1541063730,1,interaction item image,2795374,FI,"Krakow, Poland",mobile,NaN,NaN,NaN,33.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
114,02SRUT1NQYH1,3599a6f709eab,1541063863,34,interaction item info,2795374,FI,"Krakow, Poland",mobile,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
115,02SRUT1NQYH1,3599a6f709eab,1541063864,35,clickout item,2795374,FI,"Krakow, Poland",mobile,NaN,2795374|5582964|1088390|2781070|1258068|1271962|3184892|148884|3528776|107183|5156744|107048|1907333|3370484|6003326|8436316|9025316|125181|3861490|131257|4415954|107162|3143352|6652864|8118684,64|54|36|121|76|81|92|40|73|52|98|104|56|414|67|111|21|122|55|104|56|64|40|29|44,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
116,03K8AXBL4BX2,ec139e10b9238,1541100038,1,search for destination,"London, United Kingdom",UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
117,03K8AXBL4BX2,ec139e10b9238,1541100132,2,search for poi,Covent Garden,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
118,03K8AXBL4BX2,ec139e10b9238,1541100193,3,search for poi,Oxford Street,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
119,03K8AXBL4BX2,ec139e10b9238,1541100314,4,interaction item image,1032816,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
121,03K8AXBL4BX2,ec139e10b9238,1541100322,6,clickout item,1032816,UK,"London, United Kingdom",desktop,NaN,12693|46363|81657|18448|47687|152913|18417|927627|4147572|819616|18380|47333|18425|1255377|4043482|1032816|18388|1216900|106471|106567|12667|84082|1152188|98737|47410,104|92|100|103|102|104|72|85|81|75|107|86|98|83|98|103|105|99|106|99|98|96|96|105|99,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
122,03K8AXBL4BX2,ec139e10b9238,1541100652,7,clickout item,1032816,UK,"London, United Kingdom",desktop,NaN,12693|46363|81657|18448|47687|152913|18417|927627|4147572|819616|18380|47333|18425|1255377|4043482|1032816|18388|1216900|106471|106567|12667|84082|1152188|98737|47410,104|92|100|103|102|104|72|85|81|75|107|86|98|83|98|103|105|99|106|99|98|96|96|105|99,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
123,03P4VFKK12UO,325fafb5fa450,1541107285,1,search for destination,"Bakersfield, USA",US,"Bakersfield, USA",desktop,NaN,NaN,NaN,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
125,03P4VFKK12UO,325fafb5fa450,1541107336,3,filter selection,Very Good Rating,US,"Bakersfield, USA",desktop,Very Good Rating,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907747,UASIQ6PNDPK9,bd9a0ec14d4a9,1541183817,16,filter selection,4 Star,UK,"Chicago, USA",desktop,Sort by Price|5 Star|4 Star|3 Star|Hotel|Motel|Resort|Hostal (ES),NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907748,UASIQ6PNDPK9,bd9a0ec14d4a9,1541183817,17,filter selection,5 Star,UK,"Chicago, USA",desktop,Sort by Price|5 Star|4 Star|3 Star|Hotel|Motel|Resort|Hostal (ES),NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907749,UASIQ6PNDPK9,bd9a0ec14d4a9,1541183902,18,change of sort order,interaction sort button,UK,"Chicago, USA",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907750,UASIQ6PNDPK9,bd9a0ec14d4a9,1541183902,19,change of sort order,distance only,UK,"Chicago, USA",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907751,UASIQ6PNDPK9,bd9a0ec14d4a9,1541183902,20,filter selection,Sort By Distance,UK,"Chicago, USA",desktop,5 Star|4 Star|3 Star|Hotel|Motel|Resort|Hostal (ES)|Sort By Distance,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907752,UASIQ6PNDPK9,bd9a0ec14d4a9,1541183919,21,interaction item image,70143,UK,"Chicago, USA",desktop,NaN,NaN,NaN,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907754,UASIQ6PNDPK9,bd9a0ec14d4a9,1541183938,23,interaction item info,70143,UK,"Chicago, USA",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907755,UASIQ6PNDPK9,bd9a0ec14d4a9,1541189890,24,change of sort order,interaction sort button,UK,"Chicago, USA",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907756,UASIQ6PNDPK9,bd9a0ec14d4a9,1541189892,25,change of sort order,price only,UK,"Chicago, USA",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907757,UASIQ6PNDPK9,bd9a0ec14d4a9,1541189892,26,filter selection,Sort by Price,UK,"Chicago, USA",desktop,5 Star|4 Star|3 Star|Hotel|Motel|Resort|Hostal (ES)|Sort by Price,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907758,UASIQ6PNDPK9,bd9a0ec14d4a9,1541189934,27,interaction item image,935453,UK,"Chicago, USA",desktop,NaN,NaN,NaN,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907760,UASIQ6PNDPK9,bd9a0ec14d4a9,1541189944,29,interaction item info,935453,UK,"Chicago, USA",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907761,UASIQ6PNDPK9,bd9a0ec14d4a9,1541189975,30,interaction item image,1373677,UK,"Chicago, USA",desktop,NaN,NaN,NaN,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907763,UASIQ6PNDPK9,bd9a0ec14d4a9,1541189985,32,interaction item info,1373677,UK,"Chicago, USA",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907764,UASIQ6PNDPK9,bd9a0ec14d4a9,1541190953,33,filter selection,Wheelchair Accessible,UK,"Chicago, USA",desktop,5 Star|4 Star|3 Star|Hotel|Motel|Resort|Hostal (ES)|Sort by Price|Wheelchair Accessible,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907765,UASIQ6PNDPK9,bd9a0ec14d4a9,1541190970,34,interaction item image,79312,UK,"Chicago, USA",desktop,NaN,NaN,NaN,2.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907767,UASIQ6PNDPK9,bd9a0ec14d4a9,1541190980,36,interaction item info,79312,UK,"Chicago, USA",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907768,UB4UTNGO05KK,fcde33e6484ec,1541156127,1,search for destination,"Rostov-on-Don, Russia",RU,"Rostov-on-Don, Russia",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907769,UB4UTNGO05KK,fcde33e6484ec,1541156157,2,change of sort order,interaction sort button,RU,"Rostov-on-Don, Russia",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907770,UB4UTNGO05KK,fcde33e6484ec,1541156158,3,change of sort order,price only,RU,"Rostov-on-Don, Russia",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907771,UB4UTNGO05KK,fcde33e6484ec,1541156158,4,filter selection,Sort by Price,RU,"Rostov-on-Don, Russia",desktop,Sort by Price,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907772,UB4UTNGO05KK,fcde33e6484ec,1541156160,5,change of sort order,distance only,RU,"Rostov-on-Don, Russia",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907773,UB4UTNGO05KK,fcde33e6484ec,1541156160,6,filter selection,Sort By Distance,RU,"Rostov-on-Don, Russia",desktop,Sort By Distance,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907774,UB4UTNGO05KK,fcde33e6484ec,1541156166,7,change of sort order,interaction sort button,RU,"Rostov-on-Don, Russia",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907775,UB4UTNGO05KK,fcde33e6484ec,1541156167,8,change of sort order,price only,RU,"Rostov-on-Don, Russia",desktop,NaN,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907776,UB4UTNGO05KK,fcde33e6484ec,1541156167,9,filter selection,Sort by Price,RU,"Rostov-on-Don, Russia",desktop,Sort by Price,NaN,NaN,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907777,UB4UTNGO05KK,fcde33e6484ec,1541156188,10,clickout item,7493054,RU,"Rostov-on-Don, Russia",desktop,Sort by Price,3491100|4032820|7493054|6137804|4608042|2878035|4063132|8104924|2222218|5176506|7024688|7209804|7775604|1947745|7952278|1996483|2816300|9626828|3958608|8164098|8107796|9214692|5433836|1948883|2862172,5|6|6|7|10|12|12|13|13|13|13|13|13|14|14|15|15|15|15|15|15|15|15|16|16,1.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907778,UB4UTNGO05KK,fcde33e6484ec,1541156213,11,clickout item,6137804,RU,"Rostov-on-Don, Russia",desktop,Sort by Price,3491100|4032820|7493054|6137804|4608042|2878035|4063132|8104924|2222218|5176506|7024688|7209804|7775604|1947745|7952278|1996483|2816300|9626828|3958608|8164098|8107796|9214692|5433836|1948883|2862172,5|6|6|7|10|12|12|13|13|13|13|13|13|14|14|15|15|15|15|15|15|15|15|16|16,1.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907779,UB4UTNGO05KK,fcde33e6484ec,1541156316,12,clickout item,4032820,RU,"Rostov-on-Don, Russia",desktop,Sort by Price,3491100|4032820|7493054|6137804|4608042|2878035|4063132|8104924|2222218|5176506|7024688|7209804|7775604|1947745|7952278|1996483|2816300|9626828|3958608|8164098|8107796|9214692|5433836|1948883|2862172,5|6|6|7|10|12|12|13|13|13|13|13|13|14|14|15|15|15|15|15|15|15|15|16|16,1.0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
907780,UB4UTNGO05KK,fcde33e6484ec,1541156319,13,clickout item,6137804,RU,"Rostov-on-Don, Russia",desktop,Sort by Price,3491100|4032820|7493054|6137804|4608042|2878035|4063132|8104924|2222218|5176506|7024688|7209804|7775604|1947745|7952278|1996483|2816300|9626828|3958608|8164098|8107796|9214692|5433836|1948883|2862172,5|6|6|7|10|12|12|13|13|13|13|13|13|14|14|15|15|15|15|15|15|15|15|16|16,1.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [37]:
res

['prices_mean', 'prices_count', 'prices_std', 'prices_list']

In [43]:
res_df.columns = ["_".join(x) for x in res_df.columns.ravel()]
res_df

,prices_mean,prices_count,prices_std,prices_list
impressions,,,,
5001,87.818182,11,5.963525,"[82, 84, 94, 94, 94, 94, 94, 82, 82, 82, 84]"
5002,94.416667,12,14.506790,"[105, 105, 105, 105, 105, 105, 105, 91, 91, 72, 72, 72]"
5003,106.230769,13,0.832050,"[106, 106, 106, 106, 106, 106, 106, 106, 106, 106, 106, 106, 109]"
5004,146.181818,11,15.012116,"[139, 139, 139, 139, 139, 139, 139, 169, 169, 169, 128]"
5005,160.000000,1,NaN,[160]
5006,220.000000,1,NaN,[220]
5009,220.000000,2,0.000000,"[220, 220]"
5011,104.000000,2,0.000000,"[104, 104]"
5013,135.000000,4,0.000000,"[135, 135, 135, 135]"
5014,215.315789,19,218.159232,"[74, 144, 108, 129, 129, 136, 136, 114, 136, 117, 136, 136, 86, 704, 704, 704, 122, 138, 138]"
5015,155.720000,25,131.259768,"[88, 106, 152, 152, 80, 93, 93, 181, 181, 73, 88, 106, 106, 106, 106, 106, 88, 106, 87, 496, 496, 496, 97, 105, 105]"
5016,151.166667,6,2.857738,"[150, 150, 150, 150, 157, 150]"
5017,168.695652,23,149.767527,"[61, 124, 114, 109, 109, 146, 146, 111, 114, 114, 114, 114, 114, 118, 129, 129, 76, 544, 544, 544, 114, 96, 96]"
5020,140.812500,16,18.454336,"[148, 135, 176, 117, 117, 166, 166, 118, 141, 144, 152, 152, 126, 141, 127, 127]"
5021,216.857143,14,26.645413,"[227, 184, 184, 222, 203, 203, 203, 250, 278, 227, 203, 246, 203, 203]"
5022,150.666667,15,36.291807,"[147, 160, 160, 217, 159, 159, 159, 200, 177, 177, 103, 103, 139, 102, 98]"
5023,154.333333,15,16.855125,"[146, 133, 133, 178, 154, 154, 154, 153, 188, 170, 138, 162, 172, 138, 142]"
5027,254.909091,11,92.668716,"[254, 221, 221, 221, 221, 221, 405, 246, 460, 167, 167]"
5028,127.500000,2,13.435029,"[137, 118]"
5029,219.642857,14,30.073262,"[223, 204, 204, 258, 194, 194, 194, 208, 267, 215, 276, 250, 194, 194]"
5033,133.000000,1,NaN,[133]
5034,110.000000,1,NaN,[110]
5035,146.666667,3,22.678918,"[155, 121, 164]"
5036,191.461538,13,50.906148,"[168, 169, 169, 333, 176, 176, 176, 180, 243, 160, 235, 152, 152]"
5037,90.222222,9,7.644897,"[109, 89, 89, 89, 89, 89, 89, 80, 89]"
5040,112.000000,9,25.588083,"[110, 110, 94, 94, 94, 113, 177, 108, 108]"
5041,104.928571,14,41.031816,"[97, 82, 82, 236, 89, 89, 89, 121, 121, 71, 125, 89, 89, 89]"
5042,95.125000,8,12.052712,"[123, 92, 92, 92, 92, 99, 85, 86]"
5043,118.071429,14,9.547165,"[122, 109, 109, 122, 119, 119, 119, 134, 119, 109, 140, 109, 112, 111]"
5045,117.000000,4,20.784610,"[99, 99, 135, 135]"
...,...,...,...,...
11256394,38.000000,2,0.000000,"[38, 38]"
11257108,109.000000,1,NaN,[109]
11257250,70.000000,2,0.000000,"[70, 70]"
11257576,528.000000,5,295.480964,"[207, 207, 680, 773, 773]"
11257598,40.000000,4,0.000000,"[40, 40, 40, 40]"
11257922,208.000000,1,NaN,[208]
11257928,82.000000,1,NaN,[82]
11259336,83.000000,1,NaN,[83]
11259402,581.000000,5,0.000000,"[581, 581, 581, 581, 581]"
11259504,14.000000,2,0.000000,"[14, 14]"
11259944,13.000000,1,NaN,[13]
11260166,126.000000,1,NaN,[126]
11261432,1303.000000,1,NaN,[1303]
11263332,55.000000,2,0.000000,"[55, 55]"
11263724,32.000000,1,NaN,[32]
11264984,18.000000,1,NaN,[18]
11265060,127.000000,2,0.000000,"[127, 127]"
11265326,124.000000,2,0.000000,"[124, 124]"
11265454,43.000000,3,0.000000,"[43, 43, 43]"
11265662,550.000000,1,NaN,[550]
11266190,351.000000,1,NaN,[351]
11266460,18.000000,3,0.000000,"[18, 18, 18]"
11266594,165.000000,1,NaN,[165]
11267426,550.000000,1,NaN,[550]
11267482,45.000000,1,NaN,[45]
11267574,125.000000,1,NaN,[125]
11268206,273.000000,1,NaN,[273]
11268332,220.285714,7,41.209684,"[245, 151, 170, 244, 244, 244, 244]"
11268592,105.000000,2,0.000000,"[105, 105]"
11269040,42.000000,2,0.000000,"[42, 42]"