In [1]:
import sys
import os
os.chdir("../")

In [2]:
import pandas as pd
import data
from tqdm.auto import tqdm
tqdm.pandas()
from IPython.display import display
pd.options.display.max_columns = None

In [3]:
train_df = data.train_df('local')

/Users/federico/miniconda3/envs/recsys/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
train_df.head(30)

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices,frequence
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1
1,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,3
2,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1
3,00RL8Z82B2Z1,aff3928535f48,1541037532,6,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1
4,00RL8Z82B2Z1,aff3928535f48,1541037532,7,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1
5,00RL8Z82B2Z1,aff3928535f48,1541037532,8,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1
6,00RL8Z82B2Z1,aff3928535f48,1541037542,13,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,5
7,00RL8Z82B2Z1,aff3928535f48,1541037543,14,clickout item,109038,AU,"Sydney, Australia",mobile,NaN,3400638|1253714|3367857|5100540|1088584|666916...,95|66|501|112|95|100|101|72|82|56|56|143|70|25...,1
8,00RL8Z82B2Z1,aff3928535f48,1541038469,15,search for poi,Surry Hills,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1
9,00RL8Z82B2Z1,aff3928535f48,1541038485,16,clickout item,1257342,AU,"Sydney, Australia",mobile,NaN,55109|129343|54824|2297972|109014|1257342|1031...,162|25|150|143|101|49|118|131|18|100|101|143|5...,1
10,02HGRBA06ODU,fa3a53156ae5c,1541030832,1,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1
11,02HGRBA06ODU,fa3a53156ae5c,1541030843,3,interaction item image,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,2
12,02HGRBA06ODU,fa3a53156ae5c,1541030852,4,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1
13,02HGRBA06ODU,fa3a53156ae5c,1541030867,5,interaction item info,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1
14,02HGRBA06ODU,fa3a53156ae5c,1541030978,28,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,23
15,02HGRBA06ODU,fa3a53156ae5c,1541031009,29,interaction item info,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1
16,02HGRBA06ODU,fa3a53156ae5c,1541031044,46,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,17
17,02HGRBA06ODU,fa3a53156ae5c,1541031044,47,interaction item deals,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1
18,02HGRBA06ODU,fa3a53156ae5c,1541031115,65,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,18
19,02SRUT1NQYH1,3599a6f709eab,1541063851,33,interaction item image,2795374,FI,"Krakow, Poland",mobile,NaN,NaN,NaN,33
20,02SRUT1NQYH1,3599a6f709eab,1541063863,34,interaction item info,2795374,FI,"Krakow, Poland",mobile,NaN,NaN,NaN,1
21,02SRUT1NQYH1,3599a6f709eab,1541063864,35,clickout item,2795374,FI,"Krakow, Poland",mobile,NaN,2795374|5582964|1088390|2781070|1258068|127196...,64|54|36|121|76|81|92|40|73|52|98|104|56|414|6...,1
22,03K8AXBL4BX2,ec139e10b9238,1541100038,1,search for destination,"London, United Kingdom",UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1
23,03K8AXBL4BX2,ec139e10b9238,1541100132,2,search for poi,Covent Garden,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1
24,03K8AXBL4BX2,ec139e10b9238,1541100193,3,search for poi,Oxford Street,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1
25,03K8AXBL4BX2,ec139e10b9238,1541100314,5,interaction item image,1032816,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,2
26,03K8AXBL4BX2,ec139e10b9238,1541100652,7,clickout item,1032816,UK,"London, United Kingdom",desktop,NaN,12693|46363|81657|18448|47687|152913|18417|927...,104|92|100|103|102|104|72|85|81|75|107|86|98|8...,2
27,03P4VFKK12UO,325fafb5fa450,1541107286,2,search for destination,"Bakersfield, USA",US,"Bakersfield, USA",desktop,NaN,NaN,NaN,2
28,03P4VFKK12UO,325fafb5fa450,1541107336,3,filter selection,Very Good Rating,US,"Bakersfield, USA",desktop,Very Good Rating,NaN,NaN,1
29,03P4VFKK12UO,325fafb5fa450,1541107366,4,filter selection,Hostal (ES),US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN,1

In [13]:
train_df = train_df.sort_index()

In [6]:
clickout_rows = train_df[['user_id','session_id','action_type','impressions']][train_df.action_type == 'clickout item']
clickout_rows['impression_list'] = clickout_rows.impressions.str.split('|')

reference_rows = train_df[['user_id','session_id','reference','action_type']][train_df.reference.str.isnumeric() & (train_df.action_type != 'clickout item')].drop('action_type',axis=1)
reference_rows['ref_pos'] = -1

In [7]:
clickout_rows.head()

,user_id,session_id,action_type,impressions,impression_list
7,00RL8Z82B2Z1,aff3928535f48,clickout item,3400638|1253714|3367857|5100540|1088584|666916...,"[3400638, 1253714, 3367857, 5100540, 1088584, ..."
9,00RL8Z82B2Z1,aff3928535f48,clickout item,55109|129343|54824|2297972|109014|1257342|1031...,"[55109, 129343, 54824, 2297972, 109014, 125734..."
21,02SRUT1NQYH1,3599a6f709eab,clickout item,2795374|5582964|1088390|2781070|1258068|127196...,"[2795374, 5582964, 1088390, 2781070, 1258068, ..."
26,03K8AXBL4BX2,ec139e10b9238,clickout item,12693|46363|81657|18448|47687|152913|18417|927...,"[12693, 46363, 81657, 18448, 47687, 152913, 18..."
43,03P4VFKK12UO,325fafb5fa450,clickout item,1306936|56482|2842358|6881276|65685|63259|6539...,"[1306936, 56482, 2842358, 6881276, 65685, 6325..."

In [8]:
reference_rows.head(30)

         user_id     session_id reference  ref_pos
1   00RL8Z82B2Z1  aff3928535f48    666856       -1
2   00RL8Z82B2Z1  aff3928535f48    109038       -1
3   00RL8Z82B2Z1  aff3928535f48    666856       -1
4   00RL8Z82B2Z1  aff3928535f48    109038       -1
5   00RL8Z82B2Z1  aff3928535f48    666856       -1
6   00RL8Z82B2Z1  aff3928535f48    109038       -1
10  02HGRBA06ODU  fa3a53156ae5c   3377332       -1
11  02HGRBA06ODU  fa3a53156ae5c   3377332       -1
12  02HGRBA06ODU  fa3a53156ae5c   3377332       -1
13  02HGRBA06ODU  fa3a53156ae5c   3066244       -1
14  02HGRBA06ODU  fa3a53156ae5c   3066244       -1
15  02HGRBA06ODU  fa3a53156ae5c   3066244       -1
16  02HGRBA06ODU  fa3a53156ae5c   3066244       -1
17  02HGRBA06ODU  fa3a53156ae5c   3066244       -1
18  02HGRBA06ODU  fa3a53156ae5c   3066244       -1
19  02SRUT1NQYH1  3599a6f709eab   2795374       -1
20  02SRUT1NQYH1  3599a6f709eab   2795374       -1
25  03K8AXBL4BX2  ec139e10b9238   1032816       -1
42  03P4VFKK12UO  325fafb5fa450     65685       -1
45  0473FZ8UNXRS  bcc452f3350eb    749441       -1
46  0473FZ8UNXRS  bcc452f3350eb   1258184       -1
49  066TUPQWUEV5  7157899be2839   2552514       -1
55  06SZHKMYOOI8  4c6062d7cefe4    138930       -1
57  06SZHKMYOOI8  4c6062d7cefe4    138930       -1
59  09L0Y03JYTAC  91de23da01b00      8561       -1
60  09L0Y03JYTAC  91de23da01b00      8561       -1
63  0FXZGX34RQMS  dbe408c81daf3   3176346       -1
67  0IVOT7X0FJWE  554392be66854   9167996       -1
69  0IVOT7X0FJWE  554392be66854   9167996       -1
72  0K009FGORI30  b1eabf1f2e155    104499       -1

In [ ]:
j = 0
clickout_indices = clickout_rows.index.values
for idx,row in tqdm(reference_rows.iterrows()):
    # find the next clickout index
    if idx >= clickout_indices[-1]:
        break
    while idx > clickout_indices[j]:
        j += 1
    next_clickout = clickout_rows.loc[clickout_indices[j]]

    # check if row and next_clickout are in the same session
    if row.user_id == next_clickout.user_id and row.session_id == next_clickout.session_id:
        try:
            reference_rows.at[idx,'ref_pos'] = next_clickout.impression_list.index(row.reference)
        except:
            pass

In [ ]:
reference_rows

In [ ]:
clickout_rows.at[15,'impression_list']

In [4]:
from extract_features.reference_position_in_next_clickout_impressions import ReferencePositionInNextClickoutImpressions
f = ReferencePositionInNextClickoutImpressions()

In [5]:
f.join_to(train_df, one_hot=False)

/Users/federico/miniconda3/envs/recsys/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

reference_position_in_next_clickout_impressions feature read

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices,frequence,ref_pos
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,3,10.0
2,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1,9.0
3,00RL8Z82B2Z1,aff3928535f48,1541037532,6,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1,10.0
4,00RL8Z82B2Z1,aff3928535f48,1541037532,7,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1,9.0
5,00RL8Z82B2Z1,aff3928535f48,1541037532,8,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1,10.0
6,00RL8Z82B2Z1,aff3928535f48,1541037542,13,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,5,9.0
7,00RL8Z82B2Z1,aff3928535f48,1541037543,14,clickout item,109038,AU,"Sydney, Australia",mobile,NaN,3400638|1253714|3367857|5100540|1088584|666916...,95|66|501|112|95|100|101|72|82|56|56|143|70|25...,1,NaN
8,00RL8Z82B2Z1,aff3928535f48,1541038469,15,search for poi,Surry Hills,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1,NaN
9,00RL8Z82B2Z1,aff3928535f48,1541038485,16,clickout item,1257342,AU,"Sydney, Australia",mobile,NaN,55109|129343|54824|2297972|109014|1257342|1031...,162|25|150|143|101|49|118|131|18|100|101|143|5...,1,NaN
10,02HGRBA06ODU,fa3a53156ae5c,1541030832,1,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,-1.0
11,02HGRBA06ODU,fa3a53156ae5c,1541030843,3,interaction item image,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,2,-1.0
12,02HGRBA06ODU,fa3a53156ae5c,1541030852,4,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,-1.0
13,02HGRBA06ODU,fa3a53156ae5c,1541030867,5,interaction item info,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,-1.0
14,02HGRBA06ODU,fa3a53156ae5c,1541030978,28,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,23,-1.0
15,02HGRBA06ODU,fa3a53156ae5c,1541031009,29,interaction item info,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,-1.0
16,02HGRBA06ODU,fa3a53156ae5c,1541031044,46,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,17,-1.0
17,02HGRBA06ODU,fa3a53156ae5c,1541031044,47,interaction item deals,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,-1.0
18,02HGRBA06ODU,fa3a53156ae5c,1541031115,65,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,18,-1.0
19,02SRUT1NQYH1,3599a6f709eab,1541063851,33,interaction item image,2795374,FI,"Krakow, Poland",mobile,NaN,NaN,NaN,33,0.0
20,02SRUT1NQYH1,3599a6f709eab,1541063863,34,interaction item info,2795374,FI,"Krakow, Poland",mobile,NaN,NaN,NaN,1,0.0
21,02SRUT1NQYH1,3599a6f709eab,1541063864,35,clickout item,2795374,FI,"Krakow, Poland",mobile,NaN,2795374|5582964|1088390|2781070|1258068|127196...,64|54|36|121|76|81|92|40|73|52|98|104|56|414|6...,1,NaN
22,03K8AXBL4BX2,ec139e10b9238,1541100038,1,search for destination,"London, United Kingdom",UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1,NaN
23,03K8AXBL4BX2,ec139e10b9238,1541100132,2,search for poi,Covent Garden,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1,NaN
24,03K8AXBL4BX2,ec139e10b9238,1541100193,3,search for poi,Oxford Street,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1,NaN
25,03K8AXBL4BX2,ec139e10b9238,1541100314,5,interaction item image,1032816,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,2,15.0
26,03K8AXBL4BX2,ec139e10b9238,1541100652,7,clickout item,1032816,UK,"London, United Kingdom",desktop,NaN,12693|46363|81657|18448|47687|152913|18417|927...,104|92|100|103|102|104|72|85|81|75|107|86|98|8...,2,NaN
27,03P4VFKK12UO,325fafb5fa450,1541107286,2,search for destination,"Bakersfield, USA",US,"Bakersfield, USA",desktop,NaN,NaN,NaN,2,NaN
28,03P4VFKK12UO,325fafb5fa450,1541107336,3,filter selection,Very Good Rating,US,"Bakersfield, USA",desktop,Very Good Rating,NaN,NaN,1,NaN
29,03P4VFKK12UO,325fafb5fa450,1541107366,4,filter selection,Hostal (ES),US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5089143,ZPYGD2WCPR7C,0e0cadd412764,1541421628,73,clickout item,1325399,FI,"Riga, Latvia",desktop,Sort by Price,1325399|2284396|7925852|1118339|7180390|274771...,46|46|46|47|47|49|49|49|50|50|50|50|50|51|51|5...,1,NaN
5089144,ZPYGD2WCPR7C,0e0cadd412764,1541421633,75,interaction item image,1325399,FI,"Riga, Latvia",desktop,NaN,NaN,NaN,2,-1.0
5089145,ZPYGD2WCPR7C,0e0cadd412764,1541422371,76,search for destination,"Tallinn, Estonia",FI,"Tallinn, Estonia",desktop,NaN,NaN,NaN,1,NaN
5089146,ZPYGD2WCPR7C,0e0cadd412764,1541422388,78,change of sort order,interaction sort button,FI,"Tallinn, Estonia",desktop,NaN,NaN,NaN,2,NaN
5089147,ZPYGD2WCPR7C,0e0cadd412764,1541422389,79,change of sort order,price only,FI,"Tallinn, Estonia",desktop,NaN,NaN,NaN,1,NaN
5089148,ZPYGD2WCPR7C,0e0cadd412764,1541422389,80,filter selection,Sort by Price,FI,"Tallinn, Estonia",desktop,Sort by Price,NaN,NaN,1,NaN
5089149,ZPYGD2WCPR7C,0e0cadd412764,1541422536,93,interaction item image,99173,FI,"Tallinn, Estonia",desktop,NaN,NaN,NaN,13,3.0
5089150,ZPYGD2WCPR7C,0e0cadd412764,1541422539,94,clickout item,99173,FI,"Tallinn, Estonia",desktop,Sort by Price,2328734|6051996|9309238|99173|929821|3372236|3...,78|78|80|81|82|84|84|85|85|85|85|85|85|87|88|8...,1,NaN
5089151,ZQV0QTN7JHBH,757d8899bd8a4,1541421782,3,interaction item rating,324596,AR,"La Plata, Argentina",desktop,NaN,NaN,NaN,3,0.0
5089152,ZQV0QTN7JHBH,757d8899bd8a4,1541421792,4,interaction item info,324596,AR,"La Plata, Argentina",desktop,NaN,NaN,NaN,1,0.0
5089153,ZQV0QTN7JHBH,757d8899bd8a4,1541421818,5,clickout item,324596,AR,"La Plata, Argentina",desktop,NaN,324596|9803260|2729988|2745276|9501684,32|60|114|24|182,1,NaN
5089154,ZR26MZC7QZRL,e8b101d428fce,1541398703,1,search for destination,"Dubai, United Arab Emirates",AE,"Dubai, United Arab Emirates",desktop,NaN,NaN,NaN,1,NaN
5089155,ZR26MZC7QZRL,e8b101d428fce,1541398761,2,clickout item,8928,AE,"Dubai, United Arab Emirates",desktop,NaN,8928|1301051|207691|449441|1330534|1320073|337...,497|128|81|245|88|209|221|580|80|243|207|249|9...,1,NaN
5089156,ZR26MZC7QZRL,e8b101d428fce,1541398953,4,interaction item image,8907,AE,"Dubai, United Arab Emirates",desktop,NaN,NaN,NaN,2,21.0
5089157,ZR26MZC7QZRL,e8b101d428fce,1541398954,5,clickout item,8907,AE,"Dubai, United Arab Emirates",desktop,NaN,8928|1301051|207691|449441|1330534|1320073|337...,497|128|81|245|88|209|221|580|80|243|207|249|9...,1,NaN
5089158,ZR26MZC7QZRL,e8b101d428fce,1541399013,6,clickout item,8892,AE,"Dubai, United Arab Emirates",desktop,NaN,8928|1301051|207691|449441|1330534|1320073|337...,497|128|81|245|88|209|221|580|80|243|207|249|9...,1,NaN
5089159,ZU4A44K24XLW,546cc245789a7,1541388980,3,clickout item,3424700,JP,"Urayasu, Japan",mobile,NaN,1127559|1131661|103452|3539818|10553986|891093...,560|479|273|437|119|922|111|277|223|963|149|23...,3,NaN
5089160,ZV9JYZ398AMB,63e29a1c5eff1,1541420345,4,clickout item,8901940,PH,"Tagaytay City, Philippines",mobile,NaN,1226820|2039291|4645258|5709350|9258598|132755...,74|67|144|98|132|38|20|53|98|58|75|39|44|54|93...,4,NaN
5089161,ZVOKU8I1C77A,4b85fc8e536a9,1541400689,7,interaction item image,102474,AU,"Perth, Australia",mobile,NaN,NaN,NaN,7,2.0
5089162,ZVOKU8I1C77A,4b85fc8e536a9,1541401156,9,clickout item,102474,AU,"Perth, Australia",mobile,NaN,3483990|5755858|102474|109075|1180062|3115936|...,83|177|50|96|73|152|113|95|113|145|113|85|119|...,2,NaN
5089163,ZWWF1PT9LV7J,9e6101527d77b,1541439022,32,interaction item image,8904,US,"Dubai, United Arab Emirates",desktop,NaN,NaN,NaN,32,-1.0
5089164,ZWWF1PT9LV7J,9e6101527d77b,1541439036,33,interaction item info,8904,US,"Dubai, United Arab Emirates",desktop,NaN,NaN,NaN,1,-1.0
5089165,ZWWF1PT9LV7J,9e6101527d77b,1541439203,65,interaction item image,94557,US,"Dubai, United Arab Emirates",desktop,NaN,NaN,NaN,32,-1.0
5089166,ZWWF1PT9LV7J,9e6101527d77b,1541439203,66,interaction item info,94557,US,"Dubai, United Arab Emirates",desktop,NaN,NaN,NaN,1,-1.0
5089167,ZZJY3L7I57AT,3a6376320f888,1541431689,2,interaction item image,92301,CA,"Qubec City, Canada",desktop,NaN,NaN,NaN,2,14.0
5089168,ZZJY3L7I57AT,3a6376320f888,1541431719,4,interaction item image,87858,CA,"Qubec City, Canada",desktop,NaN,NaN,NaN,2,16.0
5089169,ZZJY3L7I57AT,3a6376320f888,1541431723,5,clickout item,87858,CA,"Qubec City, Canada",desktop,NaN,87954|44903|87855|87866|87891|87881|3166292|87...,77|80|60|74|50|52|56|72|77|82|90|94|75|84|43|6...,1,NaN
5089170,ZZY1KJ61DBKF,b0fa703389509,1541437734,1,search for destination,"Campos do Jordo, Brazil",BR,"Campos do Jordo, Brazil",desktop,NaN,NaN,NaN,1,NaN
5089171,ZZY1KJ61DBKF,b0fa703389509,1541437855,32,interaction item image,1668663,BR,"Campos do Jordo, Brazil",desktop,NaN,NaN,NaN,31,11.0
5089172,ZZY1KJ61DBKF,b0fa703389509,1541437862,33,clickout item,1668663,BR,"Campos do Jordo, Brazil",desktop,NaN,1668615|1522851|7365482|2048489|2569642|183200...,121|134|131|85|105|124|40|55|114|112|118|79|12...,1,NaN

In [6]:
temp = _

In [12]:
temp.drop(['platform','city','device','current_filters','prices'],axis=1).set_index(['user_id','session_id'])

                             timestamp  step              action_type  \
user_id      session_id
00RL8Z82B2Z1 aff3928535f48  1541037460     1           search for poi
             aff3928535f48  1541037532     4   interaction item image
             aff3928535f48  1541037532     5   interaction item image
             aff3928535f48  1541037532     6   interaction item image
             aff3928535f48  1541037532     7   interaction item image
             aff3928535f48  1541037532     8   interaction item image
             aff3928535f48  1541037542    13   interaction item image
             aff3928535f48  1541037543    14            clickout item
             aff3928535f48  1541038469    15           search for poi
             aff3928535f48  1541038485    16            clickout item
02HGRBA06ODU fa3a53156ae5c  1541030832     1    interaction item info
             fa3a53156ae5c  1541030843     3   interaction item image
             fa3a53156ae5c  1541030852     4    interaction item info
             fa3a53156ae5c  1541030867     5    interaction item info
             fa3a53156ae5c  1541030978    28   interaction item image
             fa3a53156ae5c  1541031009    29    interaction item info
             fa3a53156ae5c  1541031044    46   interaction item image
             fa3a53156ae5c  1541031044    47   interaction item deals
             fa3a53156ae5c  1541031115    65   interaction item image
02SRUT1NQYH1 3599a6f709eab  1541063851    33   interaction item image
             3599a6f709eab  1541063863    34    interaction item info
             3599a6f709eab  1541063864    35            clickout item
03K8AXBL4BX2 ec139e10b9238  1541100038     1   search for destination
             ec139e10b9238  1541100132     2           search for poi
             ec139e10b9238  1541100193     3           search for poi
             ec139e10b9238  1541100314     5   interaction item image
             ec139e10b9238  1541100652     7            clickout item
03P4VFKK12UO 325fafb5fa450  1541107286     2   search for destination
             325fafb5fa450  1541107336     3         filter selection
             325fafb5fa450  1541107366     4         filter selection
...                                ...   ...                      ...
ZPYGD2WCPR7C 0e0cadd412764  1541421628    73            clickout item
             0e0cadd412764  1541421633    75   interaction item image
             0e0cadd412764  1541422371    76   search for destination
             0e0cadd412764  1541422388    78     change of sort order
             0e0cadd412764  1541422389    79     change of sort order
             0e0cadd412764  1541422389    80         filter selection
             0e0cadd412764  1541422536    93   interaction item image
             0e0cadd412764  1541422539    94            clickout item
ZQV0QTN7JHBH 757d8899bd8a4  1541421782     3  interaction item rating
             757d8899bd8a4  1541421792     4    interaction item info
             757d8899bd8a4  1541421818     5            clickout item
ZR26MZC7QZRL e8b101d428fce  1541398703     1   search for destination
             e8b101d428fce  1541398761     2            clickout item
             e8b101d428fce  1541398953     4   interaction item image
             e8b101d428fce  1541398954     5            clickout item
             e8b101d428fce  1541399013     6            clickout item
ZU4A44K24XLW 546cc245789a7  1541388980     3            clickout item
ZV9JYZ398AMB 63e29a1c5eff1  1541420345     4            clickout item
ZVOKU8I1C77A 4b85fc8e536a9  1541400689     7   interaction item image
             4b85fc8e536a9  1541401156     9            clickout item
ZWWF1PT9LV7J 9e6101527d77b  1541439022    32   interaction item image
             9e6101527d77b  1541439036    33    interaction item info
             9e6101527d77b  1541439203    65   interaction item image
             9e6101527d77b  1541439203    66    interaction item info
ZZJY3L7I57AT 3a6376320f888  1541431689     2   interaction item image
             3a6376320f888  1541431719     4   interaction item image
             3a6376320f888  1541431723     5            clickout item
ZZY1KJ61DBKF b0fa703389509  1541437734     1   search for destination
             b0fa703389509  1541437855    32   interaction item image
             b0fa703389509  1541437862    33            clickout item

                                              reference  \
user_id      session_id
00RL8Z82B2Z1 aff3928535f48                      Newtown
             aff3928535f48                       666856
             aff3928535f48                       109038
             aff3928535f48                       666856
             aff3928535f48                       109038
             aff3928535f48                       666856
             aff3928535f48                       109038
             aff3928535f48                       109038
             aff3928535f48                  Surry Hills
             aff3928535f48                      1257342
02HGRBA06ODU fa3a53156ae5c                      3377332
             fa3a53156ae5c                      3377332
             fa3a53156ae5c                      3377332
             fa3a53156ae5c                      3066244
             fa3a53156ae5c                      3066244
             fa3a53156ae5c                      3066244
             fa3a53156ae5c                      3066244
             fa3a53156ae5c                      3066244
             fa3a53156ae5c                      3066244
02SRUT1NQYH1 3599a6f709eab                      2795374
             3599a6f709eab                      2795374
             3599a6f709eab                      2795374
03K8AXBL4BX2 ec139e10b9238       London, United Kingdom
             ec139e10b9238                Covent Garden
             ec139e10b9238                Oxford Street
             ec139e10b9238                      1032816
             ec139e10b9238                      1032816
03P4VFKK12UO 325fafb5fa450             Bakersfield, USA
             325fafb5fa450             Very Good Rating
             325fafb5fa450                  Hostal (ES)
...                                                 ...
ZPYGD2WCPR7C 0e0cadd412764                      1325399
             0e0cadd412764                      1325399
             0e0cadd412764             Tallinn, Estonia
             0e0cadd412764      interaction sort button
             0e0cadd412764                   price only
             0e0cadd412764                Sort by Price
             0e0cadd412764                        99173
             0e0cadd412764                        99173
ZQV0QTN7JHBH 757d8899bd8a4                       324596
             757d8899bd8a4                       324596
             757d8899bd8a4                       324596
ZR26MZC7QZRL e8b101d428fce  Dubai, United Arab Emirates
             e8b101d428fce                         8928
             e8b101d428fce                         8907
             e8b101d428fce                         8907
             e8b101d428fce                         8892
ZU4A44K24XLW 546cc245789a7                      3424700
ZV9JYZ398AMB 63e29a1c5eff1                      8901940
ZVOKU8I1C77A 4b85fc8e536a9                       102474
             4b85fc8e536a9                       102474
ZWWF1PT9LV7J 9e6101527d77b                         8904
             9e6101527d77b                         8904
             9e6101527d77b                        94557
             9e6101527d77b                        94557
ZZJY3L7I57AT 3a6376320f888                        92301
             3a6376320f888                        87858
             3a6376320f888                        87858
ZZY1KJ61DBKF b0fa703389509     Campos do Jordo, Brazil
             b0fa703389509                      1668663
             b0fa703389509                      1668663

                                                                  impressions  \
user_id      session_id
00RL8Z82B2Z1 aff3928535f48                                                NaN
             aff3928535f48                                                NaN
             aff3928535f48                                                NaN
             aff3928535f48                                                NaN
             aff3928535f48                                                NaN
             aff3928535f48                                                NaN
             aff3928535f48                                                NaN
             aff3928535f48  3400638|1253714|3367857|5100540|1088584|666916...
             aff3928535f48                                                NaN
             aff3928535f48  55109|129343|54824|2297972|109014|1257342|1031...
02HGRBA06ODU fa3a53156ae5c                                                NaN
             fa3a53156ae5c                                                NaN
             fa3a53156ae5c                                                NaN
             fa3a53156ae5c                                                NaN
             fa3a53156ae5c                                                NaN
             fa3a53156ae5c                                                NaN
             fa3a53156ae5c                                                NaN
             fa3a53156ae5c                                                NaN
             fa3a53156ae5c                                                NaN
02SRUT1NQYH1 3599a6f709eab                                                NaN
             3599a6f709eab                                                NaN
             3599a6f709eab  2795374|5582964|1088390|2781070|1258068|127196...
03K8AXBL4BX2 ec139e10b9238                                                NaN
             ec139e10b9238                                                NaN
             ec139e10b9238                                                NaN
             ec139e10b9238                                                NaN
             ec139e10b9238  12693|46363|81657|18448|47687|152913|18417|927...
03P4VFKK12UO 325fafb5fa450                                                NaN
             325fafb5fa450                                                NaN
             325fafb5fa450                                                NaN
...                                                                       ...
ZPYGD2WCPR7C 0e0cadd412764  1325399|2284396|7925852|1118339|7180390|274771...
             0e0cadd412764                                                NaN
             0e0cadd412764                                                NaN
             0e0cadd412764                                                NaN
             0e0cadd412764                                                NaN
             0e0cadd412764                                                NaN
             0e0cadd412764                                                NaN
             0e0cadd412764  2328734|6051996|9309238|99173|929821|3372236|3...
ZQV0QTN7JHBH 757d8899bd8a4                                                NaN
             757d8899bd8a4                                                NaN
             757d8899bd8a4             324596|9803260|2729988|2745276|9501684
ZR26MZC7QZRL e8b101d428fce                                                NaN
             e8b101d428fce  8928|1301051|207691|449441|1330534|1320073|337...
             e8b101d428fce                                                NaN
             e8b101d428fce  8928|1301051|207691|449441|1330534|1320073|337...
             e8b101d428fce  8928|1301051|207691|449441|1330534|1320073|337...
ZU4A44K24XLW 546cc245789a7  1127559|1131661|103452|3539818|10553986|891093...
ZV9JYZ398AMB 63e29a1c5eff1  1226820|2039291|4645258|5709350|9258598|132755...
ZVOKU8I1C77A 4b85fc8e536a9                                                NaN
             4b85fc8e536a9  3483990|5755858|102474|109075|1180062|3115936|...
ZWWF1PT9LV7J 9e6101527d77b                                                NaN
             9e6101527d77b                                                NaN
             9e6101527d77b                                                NaN
             9e6101527d77b                                                NaN
ZZJY3L7I57AT 3a6376320f888                                                NaN
             3a6376320f888                                                NaN
             3a6376320f888  87954|44903|87855|87866|87891|87881|3166292|87...
ZZY1KJ61DBKF b0fa703389509                                                NaN
             b0fa703389509                                                NaN
             b0fa703389509  1668615|1522851|7365482|2048489|2569642|183200...

                            frequence  ref_pos
user_id      session_id
00RL8Z82B2Z1 aff3928535f48          1      NaN
             aff3928535f48          3     10.0
             aff3928535f48          1      9.0
             aff3928535f48          1     10.0
             aff3928535f48          1      9.0
             aff3928535f48          1     10.0
             aff3928535f48          5      9.0
             aff3928535f48          1      NaN
             aff3928535f48          1      NaN
             aff3928535f48          1      NaN
02HGRBA06ODU fa3a53156ae5c          1     -1.0
             fa3a53156ae5c          2     -1.0
             fa3a53156ae5c          1     -1.0
             fa3a53156ae5c          1     -1.0
             fa3a53156ae5c         23     -1.0
             fa3a53156ae5c          1     -1.0
             fa3a53156ae5c         17     -1.0
             fa3a53156ae5c          1     -1.0
             fa3a53156ae5c         18     -1.0
02SRUT1NQYH1 3599a6f709eab         33      0.0
             3599a6f709eab          1      0.0
             3599a6f709eab          1      NaN
03K8AXBL4BX2 ec139e10b9238          1      NaN
             ec139e10b9238          1      NaN
             ec139e10b9238          1      NaN
             ec139e10b9238          2     15.0
             ec139e10b9238          2      NaN
03P4VFKK12UO 325fafb5fa450          2      NaN
             325fafb5fa450          1      NaN
             325fafb5fa450          1      NaN
...                               ...      ...
ZPYGD2WCPR7C 0e0cadd412764          1      NaN
             0e0cadd412764          2     -1.0
             0e0cadd412764          1      NaN
             0e0cadd412764          2      NaN
             0e0cadd412764          1      NaN
             0e0cadd412764          1      NaN
             0e0cadd412764         13      3.0
             0e0cadd412764          1      NaN
ZQV0QTN7JHBH 757d8899bd8a4          3      0.0
             757d8899bd8a4          1      0.0
             757d8899bd8a4          1      NaN
ZR26MZC7QZRL e8b101d428fce          1      NaN
             e8b101d428fce          1      NaN
             e8b101d428fce          2     21.0
             e8b101d428fce          1      NaN
             e8b101d428fce          1      NaN
ZU4A44K24XLW 546cc245789a7          3      NaN
ZV9JYZ398AMB 63e29a1c5eff1          4      NaN
ZVOKU8I1C77A 4b85fc8e536a9          7      2.0
             4b85fc8e536a9          2      NaN
ZWWF1PT9LV7J 9e6101527d77b         32     -1.0
             9e6101527d77b          1     -1.0
             9e6101527d77b         32     -1.0
             9e6101527d77b          1     -1.0
ZZJY3L7I57AT 3a6376320f888          2     14.0
             3a6376320f888          2     16.0
             3a6376320f888          1      NaN
ZZY1KJ61DBKF b0fa703389509          1      NaN
             b0fa703389509         31     11.0
             b0fa703389509          1      NaN

[4075553 rows x 7 columns]

In [13]:
test_df = data.test_df('local')

/Users/federico/miniconda3/envs/recsys/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [15]:
temp[temp.user_id == '02HGRBA06ODU']

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices,frequence,ref_pos
10,02HGRBA06ODU,fa3a53156ae5c,1541030832,1,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,-1.0
11,02HGRBA06ODU,fa3a53156ae5c,1541030843,3,interaction item image,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,2,-1.0
12,02HGRBA06ODU,fa3a53156ae5c,1541030852,4,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,-1.0
13,02HGRBA06ODU,fa3a53156ae5c,1541030867,5,interaction item info,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,-1.0
14,02HGRBA06ODU,fa3a53156ae5c,1541030978,28,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,23,-1.0
15,02HGRBA06ODU,fa3a53156ae5c,1541031009,29,interaction item info,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,-1.0
16,02HGRBA06ODU,fa3a53156ae5c,1541031044,46,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,17,-1.0
17,02HGRBA06ODU,fa3a53156ae5c,1541031044,47,interaction item deals,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,-1.0
18,02HGRBA06ODU,fa3a53156ae5c,1541031115,65,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,18,-1.0