In [1]:
import os
os.chdir('../')

In [2]:
import data
import pandas as pd
from tqdm.auto import tqdm
tqdm.pandas()

In [34]:
cols = ['timestamp','step','action_type','reference']
train = data.train_df('small')[cols]
test = data.test_df('small')[cols]
df = pd.concat([train, test])
del train
del test

In [35]:
df = df.sort_values(['timestamp','step'])

In [36]:
df

,timestamp,step,action_type,reference
30334,1541030432,1,search for destination,"Birmingham, United Kingdom"
79826,1541030471,1,search for destination,"Port Macquarie, Australia"
53289,1541030496,1,search for destination,"Tralee, Ireland"
82743,1541030530,1,clickout item,1054190
78745,1541030539,1,clickout item,44932
712,1541030554,1,search for destination,"Sharjah, United Arab Emirates"
30335,1541030559,2,search for destination,"Solihull, United Kingdom"
29793,1541030578,2,search for destination,"Québec City, Canada"
53290,1541030582,24,interaction item image,39801
30336,1541030583,20,interaction item image,1305491
30337,1541030603,30,interaction item image,47341
79713,1541030604,1,clickout item,1021367
2953,1541030616,1,clickout item,131258
30338,1541030634,31,search for destination,"Birmingham, United Kingdom"
79827,1541030645,2,clickout item,3839570
30339,1541030645,32,filter selection,5 Star
213,1541030660,1,search for destination,"Toronto, Canada"
713,1541030670,5,interaction item image,8961
30340,1541030675,42,interaction item image,152022
714,1541030681,6,clickout item,8961
214,1541030692,2,filter selection,Hostal (ES)
215,1541030692,3,filter selection,Hotel
216,1541030692,4,filter selection,Motel
217,1541030692,5,filter selection,Resort
218,1541030692,6,filter selection,5 Star
219,1541030693,7,filter selection,Hostal (ES)
220,1541030693,8,filter selection,Hotel
221,1541030693,9,filter selection,Motel
222,1541030693,10,filter selection,Resort
223,1541030693,11,filter selection,4 Star
...,...,...,...,...
50413,1541548554,5,interaction item info,924815
77649,1541548557,1,search for destination,"Rivera, Uruguay"
24638,1541548585,181,change of sort order,interaction sort button
22984,1541548591,2,search for poi,Genbaku domu
24639,1541548600,182,interaction item info,1533473
77650,1541548612,2,interaction item deals,2513440
24640,1541548635,183,interaction item deals,1533473
24641,1541548655,193,interaction item image,12384
50373,1541548660,1,search for destination,"Miami Beach, USA"
50904,1541548697,2,interaction item deals,8667020
77651,1541548704,3,interaction item rating,2513440
47866,1541548721,1,search for destination,"Rio de Janeiro, Brazil"
50905,1541548744,20,interaction item image,128515
50906,1541548744,21,interaction item info,128515
24642,1541548744,194,change of sort order,interaction sort button
24643,1541548744,195,change of sort order,price and recommended
24644,1541548744,196,filter selection,Best Value
24645,1541548753,197,filter selection,Excellent Rating
50907,1541548754,22,interaction item rating,128515
50908,1541548754,23,interaction item deals,128515
24646,1541548762,198,interaction item deals,1166550
24647,1541548766,200,filter selection,Free WiFi (Combined)
24648,1541548776,201,filter selection,5 Star
24649,1541548785,203,filter selection,4 Star
24650,1541548785,204,filter selection,3 Star
24651,1541548786,205,filter selection,4 Star
24652,1541548786,206,filter selection,3 Star
24653,1541548792,207,filter selection,5 Star
24654,1541548796,208,filter selection,Good Rating
24655,1541548799,210,filter selection,Very Good Rating

## Compute the reference popularity incrementally

In [38]:
# find the numeric-reference rows
mask = df.reference.str.isnumeric() == True
references = df[mask].reference.values.astype('int')

In [46]:
# initialize the dictionary with reference - 0
dict_pop = dict( (r,0) for r in references)

In [47]:
# iterate over the rows and set the popularity
df['temporal_popularity'] = 0
for idx,row in tqdm(df[mask].iterrows()):
    ref = int(row.reference)
    if row.action_type == 'clickout item':
        dict_pop[ref] += 1
    else:
        df.at[idx, 'temporal_popularity'] = dict_pop[ref]

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [50]:
df.drop(cols,axis=1)

       temporal_popularity
30334                    0
79826                    0
53289                    0
82743                    0
78745                    0
712                      0
30335                    0
29793                    0
53290                    0
30336                    0
30337                    0
79713                    0
2953                     0
30338                    0
79827                    0
30339                    0
213                      0
713                      0
30340                    0
714                      0
214                      0
215                      0
216                      0
217                      0
218                      0
219                      0
220                      0
221                      0
222                      0
223                      0
...                    ...
50413                    1
77649                    0
24638                    0
22984                    0
24639                    0
77650                    1
24640                    0
24641                    0
50373                    0
50904                    0
77651                    1
47866                    0
50905                    2
50906                    2
24642                    0
24643                    0
24644                    0
24645                    0
50907                    2
50908                    2
24646                    1
24647                    0
24648                    0
24649                    0
24650                    0
24651                    0
24652                    0
24653                    0
24654                    0
24655                    0

[100029 rows x 1 columns]

## Test the feature

In [3]:
mode = 'small'

from extract_features.reference_temporal_popularity import ReferenceTemporalPopularity
f = ReferenceTemporalPopularity(mode,'cluster_recurrent')

In [4]:
f.join_to(data.train_df(mode))

reference_temporal_popularity feature read

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices,frequence,temporal_popularity
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1,0
1,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,3,0
2,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1,0
3,00RL8Z82B2Z1,aff3928535f48,1541037532,6,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1,0
4,00RL8Z82B2Z1,aff3928535f48,1541037532,7,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1,0
5,00RL8Z82B2Z1,aff3928535f48,1541037532,8,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1,0
6,00RL8Z82B2Z1,aff3928535f48,1541037542,13,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,5,0
7,00RL8Z82B2Z1,aff3928535f48,1541037543,14,clickout item,109038,AU,"Sydney, Australia",mobile,NaN,3400638|1253714|3367857|5100540|1088584|666916...,95|66|501|112|95|100|101|72|82|56|56|143|70|25...,1,0
8,00RL8Z82B2Z1,aff3928535f48,1541038469,15,search for poi,Surry Hills,AU,"Sydney, Australia",mobile,NaN,NaN,NaN,1,0
9,00RL8Z82B2Z1,aff3928535f48,1541038485,16,clickout item,1257342,AU,"Sydney, Australia",mobile,NaN,55109|129343|54824|2297972|109014|1257342|1031...,162|25|150|143|101|49|118|131|18|100|101|143|5...,1,0
10,02HGRBA06ODU,fa3a53156ae5c,1541030832,1,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,0
11,02HGRBA06ODU,fa3a53156ae5c,1541030843,3,interaction item image,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,2,0
12,02HGRBA06ODU,fa3a53156ae5c,1541030852,4,interaction item info,3377332,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,0
13,02HGRBA06ODU,fa3a53156ae5c,1541030867,5,interaction item info,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,0
14,02HGRBA06ODU,fa3a53156ae5c,1541030978,28,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,23,0
15,02HGRBA06ODU,fa3a53156ae5c,1541031009,29,interaction item info,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,0
16,02HGRBA06ODU,fa3a53156ae5c,1541031044,46,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,17,0
17,02HGRBA06ODU,fa3a53156ae5c,1541031044,47,interaction item deals,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,1,0
18,02HGRBA06ODU,fa3a53156ae5c,1541031115,65,interaction item image,3066244,BR,"Ubatuba, Brazil",mobile,NaN,NaN,NaN,18,0
19,02SRUT1NQYH1,3599a6f709eab,1541063851,33,interaction item image,2795374,FI,"Krakow, Poland",mobile,NaN,NaN,NaN,33,0
20,02SRUT1NQYH1,3599a6f709eab,1541063863,34,interaction item info,2795374,FI,"Krakow, Poland",mobile,NaN,NaN,NaN,1,0
21,02SRUT1NQYH1,3599a6f709eab,1541063864,35,clickout item,2795374,FI,"Krakow, Poland",mobile,NaN,2795374|5582964|1088390|2781070|1258068|127196...,64|54|36|121|76|81|92|40|73|52|98|104|56|414|6...,1,0
22,03K8AXBL4BX2,ec139e10b9238,1541100038,1,search for destination,"London, United Kingdom",UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1,0
23,03K8AXBL4BX2,ec139e10b9238,1541100132,2,search for poi,Covent Garden,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1,0
24,03K8AXBL4BX2,ec139e10b9238,1541100193,3,search for poi,Oxford Street,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,1,0
25,03K8AXBL4BX2,ec139e10b9238,1541100314,5,interaction item image,1032816,UK,"London, United Kingdom",desktop,NaN,NaN,NaN,2,0
26,03K8AXBL4BX2,ec139e10b9238,1541100652,7,clickout item,1032816,UK,"London, United Kingdom",desktop,NaN,12693|46363|81657|18448|47687|152913|18417|927...,104|92|100|103|102|104|72|85|81|75|107|86|98|8...,2,0
27,03P4VFKK12UO,325fafb5fa450,1541107286,2,search for destination,"Bakersfield, USA",US,"Bakersfield, USA",desktop,NaN,NaN,NaN,2,0
28,03P4VFKK12UO,325fafb5fa450,1541107336,3,filter selection,Very Good Rating,US,"Bakersfield, USA",desktop,Very Good Rating,NaN,NaN,1,0
29,03P4VFKK12UO,325fafb5fa450,1541107366,4,filter selection,Hostal (ES),US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,NaN,NaN,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99999,X5LCV1SW6B0G,6288f0e7db512,1541405514,27,clickout item,5165974,PL,"Bukowina Tatrzanska, Poland",desktop,NaN,988737|3936874|2673738|4779488|3557634|5540134...,23|27|27|19|23|32|63|75|18|84|25|25|23|16|28|2...,1,0
100000,X5RBR58Z3M62,21ffead5b9c92,1541417747,1,search for destination,"Liverpool, United Kingdom",UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,0
100001,X5RBR58Z3M62,21ffead5b9c92,1541417941,10,interaction item image,1364710,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,9,2
100002,X5RBR58Z3M62,21ffead5b9c92,1541418014,43,interaction item image,1320620,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,33,2
100003,X5RBR58Z3M62,21ffead5b9c92,1541418089,74,interaction item image,12618,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,31,0
100004,X5RBR58Z3M62,21ffead5b9c92,1541418089,75,interaction item info,12618,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,0
100005,X5RBR58Z3M62,21ffead5b9c92,1541418144,76,clickout item,934069,UK,"Liverpool, United Kingdom",desktop,NaN,152875|47374|2707162|18904|2826684|706646|9332...,185|69|102|109|284|192|129|180|170|77|92|134|1...,1,0
100006,X5RBR58Z3M62,21ffead5b9c92,1541418502,99,interaction item image,2333066,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,23,1
100007,X5RBR58Z3M62,21ffead5b9c92,1541418502,100,interaction item image,1320620,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,2
100008,X5RBR58Z3M62,21ffead5b9c92,1541418504,101,interaction item image,2333066,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,1
100009,X5RBR58Z3M62,21ffead5b9c92,1541418537,115,interaction item image,12618,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,14,0
100010,X5RBR58Z3M62,21ffead5b9c92,1541418537,117,interaction item image,3842698,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,2,3
100011,X5RBR58Z3M62,21ffead5b9c92,1541418537,121,interaction item image,12618,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,4,0
100012,X5RBR58Z3M62,21ffead5b9c92,1541418547,135,interaction item image,3842698,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,14,3
100013,X5RBR58Z3M62,21ffead5b9c92,1541418555,136,clickout item,3842698,UK,"Liverpool, United Kingdom",desktop,NaN,2530750|2707162|706646|18904|12618|3842698|470...,38|68|92|69|81|79|57|100|90|103|74|46|69|78|66...,1,0
100014,X5RBR58Z3M62,21ffead5b9c92,1541418612,137,interaction item image,12618,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,0
100015,X5RBR58Z3M62,21ffead5b9c92,1541418614,138,interaction item image,2333066,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,1
100016,X5RBR58Z3M62,21ffead5b9c92,1541418614,139,interaction item image,1320620,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,2
100017,X5RBR58Z3M62,21ffead5b9c92,1541418614,140,interaction item image,1364710,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,2
100018,X5RBR58Z3M62,21ffead5b9c92,1541418614,141,interaction item image,12618,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,0
100019,X5RBR58Z3M62,21ffead5b9c92,1541418615,142,interaction item image,2333066,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,1
100020,X5RBR58Z3M62,21ffead5b9c92,1541418615,143,interaction item image,12618,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,0
100021,X5RBR58Z3M62,21ffead5b9c92,1541418615,144,interaction item image,1364710,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,2
100022,X5RBR58Z3M62,21ffead5b9c92,1541418620,145,interaction item image,12618,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,0
100023,X5RBR58Z3M62,21ffead5b9c92,1541418634,146,interaction item image,1320620,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,2
100024,X5RBR58Z3M62,21ffead5b9c92,1541418634,147,interaction item image,2333066,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,1
100025,X5RBR58Z3M62,21ffead5b9c92,1541418634,148,interaction item image,1364710,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,2
100026,X5RBR58Z3M62,21ffead5b9c92,1541418732,161,interaction item image,1320620,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,13,2
100027,X5RBR58Z3M62,21ffead5b9c92,1541418745,162,clickout item,934069,UK,"Liverpool, United Kingdom",desktop,NaN,18910|743096|47374|2826684|1364710|5206872|132...,200|86|101|284|102|106|413|166|184|164|133|200...,1,0
100028,X5RBR58Z3M62,21ffead5b9c92,1541418767,163,interaction item deals,934069,UK,"Liverpool, United Kingdom",desktop,NaN,NaN,NaN,1,5